{% extends "layout.html" %}

{% block button %}
    <a class="back-btn" href="{{ url_for('index') }}">
        <i class="fas fa-caret-left"></i>
        Back
    </a>
{% endblock %}

{% block content %} 
    <section class="header">
        <h2>Edit Item</h2>
    </section>
    <section id="form">
        <form action="{{ url_for('edit_item', id=item.id) }}" method="POST">
            <label for="brand">Brand Name</label>
            <input id="brand" name="brand" type="text" placeholder="Brand Name" value="{{ item.brand }}" required>
            <label for="name">Item Name</label>
            <input id="name" name="name" type="text" placeholder="Item" value="{{ item.name }}" required>
            <label for="department">Department</label>
            <input id="department" name="department" type="text" Placeholder="Produce" value="{{ item.department }}" required>
            <label for="local">Made in Michigan?</label>
            <input id="local" name="local" type="text" placeholder="Yes" value="{{ item.local }}" required>
            <label for="size">Size</label>
            <input id="size" name="size" type="text" placeholder="26 oz" value="{{ item.size }}" required>
            <label for="attributes">Item Attributes</label>
            <p>Separate attributes with a comma</p>
            <textarea id="attributes" name="attributes" cols="50" rows="50" placeholder="Non-Gmo, Vegan, etc."
                required>{{ item.attributes }}</textarea>
            <label for="url">Photo URL</label>
            <input id="url" name="url" type="text" placeholder="Photo Link" value="{{ item.url }}" required>
            <div>
                <button type="reset">Cancel</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section>
{% endblock %}