{% extends "layout.html" %} 

{% block button %} 
    <a class="back-btn" href="{{ url_for('index') }}">
        <i class="fas fa-caret-left"></i>
        Back
    </a>
{% endblock %} 

{% block content %} 
    <section class="header">
        <img src="{{ item.url }}" alt="Image of product">
        <h1>{{ item.brand }} {{ item.name }}</h1>
        <p><strong>Department:</strong> {{ item.department }}</p>
        <p><strong>Made in Michigan?:</strong> {{ item.local }}</p>
        <p><strong>Size:</strong> {{ item.size }}</p>
        <p><strong>Attributes:</strong> {{ item.attributes }}</p>
    </section>
    <section id="edit-delete">
        <a href="{{ url_for('edit_item', id=item.id) }}"><i class="far fa-edit"></i>Edit</a>
        <a href="{{ url_for('delete_item', id=item.id) }}"><i class="far fa-trash-alt"></i>Delete</a>
    </section>
{% endblock %} 